@media screen and (max-width: 1199px) {
    .work {
        display: none;
    }
}


.work {
    padding-bottom: 94px;
}

.our-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .wrapper {
        position: relative;
    }
    
    .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 27px;
        background-color: rgba(47, 48, 58, 0.8);
        
        h3 {
            font-weight: 700;
            font-size: 14px;
            line-height: 1.143;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $alternative-color;
        }
    }
}

h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
    h2 {
        font-size: 36px;
        line-height: 1.167;
    }
}





// .work {
//     padding-bottom: 94px;
// }

// .our-work {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
    
//     .wrapper {
//         position: relative;
//     }
    
//     .overlay {
//         position: absolute;
//         bottom: 0;
//         left: 0;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         width: 100%;
//         padding: 27px;
//         background-color: rgba(47, 48, 58, 0.8);
        
//         h3 {
//             font-weight: 700;
//             font-size: 14px;
//             line-height: 1.143;
//             letter-spacing: 0.03em;
//             text-transform: uppercase;
//             color: $alternative-color;
//         }
//     }
// }

// h2 {
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.167;
//     letter-spacing: 0.03em;
//     text-align: center;
//     margin-bottom: 50px;
// }