    $main-font: "Roboto", sans-serif;
    $accent-color: #2196F3;
    $alternative-color: #FFFFFF;
    $title-text-color: #212121;
    $primary-text-color: #757575;
    $background-color: #2F303A;
    $alternative-background-color: #F5F4FA;
    $fill: #AFB1B8;  


// :root {
//     --main-font: "Roboto", sans-serif;
//     --accent-color: #2196F3;
//     --alternative-color: #FFFFFF;
//     --title-text-color: #212121;
//     --primary-text-color: #757575;
//     --background-color: #2F303A;
//     --alternative-background-color: #F5F4FA;
//     --fill: #AFB1B8;     
// }